<%= link_to('Logout', destroy_user_session_path, method: :delete) %>

<h1>QuickBooks Gateway</h1>

<% if @connected_to_intuit -%>
  <%= link_to('Disconnect from Intuit', revoke_intuit_path, method: :delete) %>
<% else -%>
  <%= link_to(
    image_tag(
      'C2QB_white_btn_med_default.png',
      mouseover: 'C2QB_white_btn_med_hover.png'
    ), @authorization_endpoint)
  %>
<% end -%>
